* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

.orderBy{
  background-color: #2A77AE;
  color: white
}
 th:hover{
   background-color: rgb(95, 193, 226);
 }

 select{
   margin-left: 15px;
 }